<!DOCTYPE html>

<html ng-app="lunchLearnApp">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="node_modules/angular/angular.min.js"></script>
    <script src="index.js"></script>
  </head>
  <body>
      <div ng-controller="lunchLearnCtrl">
        <li ng-repeat="item in currentList track by $index">
            {{item}}
            <button ng-click="removeItem($index)">Remove me!</button>
        </li>
        <input type="text" placeholder="Enter item to add to list" ng-model="itemToAdd"></input>
        <button ng-click="addItem(itemToAdd)">Add item to list</button>
        {{error}}
      </div>
  </body>
</html>